*{
  margin:0px;
  padding:0px;
}
body{
  background:#111;
}

.header {
  width: 1080px;
  background: #ff5200;
  text-align: center;
  margin: auto;
  padding: 35px 10px;
  color: white;
}

.contains {
  width: 1080px;
  background: #ddd;
  margin: auto;
  padding: 72px 10px;
  font-family: arial;
  line-height: 36px;
}
.footer {
  width: 1080px;
  font-family: arial;
  margin: auto;
  background: black;
  padding: 25px 10px;
  color: white;
}

.loginBox {
  width: 500px;
  background: #53629c;
  margin: auto;
  margin-top: auto;
  margin-top: 200px;
  padding: 61px 10px;
  border: 4px solid #ff5200;
  border-radius: 4px;
}
.loginBox input {
  padding: 11px 74px;
  text-align: center;
  margin-left: 108px;
  background: linear-gradient(#6b7b8785,#dbecfbed);
  border: none;
}
.loginButton {
  padding: 10px 132px !important;
  color: #0000009c;
}
.loginButton:hover {
  cursor: pointer;
}
.loginBox h2 {
  text-align: center;
  color: #ffffffba;
  margin-bottom: 27px;
}
